#informacion{
    float: left;
}
#flex_index{
    display: flex;
    flex-wrap: nowrap;
    background: #76CEFF;
}
#flex_index > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
}
button{
    background: deepskyblue;
    padding: 15px 32px;
}